<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>MainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchMusic</servlet-name>
        <servlet-class>FetchMusic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMusicContent</servlet-name>
        <servlet-class>GetMusicContent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicUpload</servlet-name>
        <servlet-class>MusicUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoritePageServlet</servlet-name>
        <servlet-class>FavoritePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFavoriteServlet</servlet-name>
        <servlet-class>UploadFavoriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFavoriteServlet</servlet-name>
        <servlet-class>DeleteFavoriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeOrDislikeServlet</servlet-name>
        <servlet-class>LikeOrDislikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/MainPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMusic</servlet-name>
        <url-pattern>/FetchMusic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMusicContent</servlet-name>
        <url-pattern>/GetMusicContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicUpload</servlet-name>
        <url-pattern>/MusicUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoritePageServlet</servlet-name>
        <url-pattern>/FavoritePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFavoriteServlet</servlet-name>
        <url-pattern>/UploadFavoriteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFavoriteServlet</servlet-name>
        <url-pattern>/DeleteFavoriteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeOrDislikeServlet</servlet-name>
        <url-pattern>/LikeOrDislikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
